.row-header{
  margin:0px auto;
  padding:0px auto;
}
.header {
  height: 110vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.row-content {
  margin:0px auto;
  padding: 10px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
  color: #800080;
  
}

.footer{
  background-color:#f5f5f5;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
  color:black;
}
.navbar-dark {
  background-color: black;
}


.disabled-link {
  pointer-events: none;
}

.amount-registers {
  padding-top: 7px;
  padding-left: 40px;
}

.postCard{
  padding-bottom: 30px;
}

.class-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.main-container {
  display: flex;
  padding-bottom: 70px;;
}